<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <div class="main-content">
        <p>This site uses Mapbox Api for geocoding and weatherstack Api to get the weather for the input location.</p>
        <img src="/img/Wink edit.png">
    </div>


    {{>footer}}
</body>


</html>